
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*------General------*/
.wrapper {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   display: flex;
   flex-direction: column;

   overflow-x: hidden;
   height: 100vh;
   background: url('../img/Фон\ 1.png') no-repeat center;
   background-size: cover;
}
/*------Header------*/
.header {
   flex: 0 0 auto;
   min-height: 58px;
   padding: 0 79px 0 79px;
   background: rgba(0, 0, 0, 0.4);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   display: flex;
   align-items: center;
}
.header__title {
   flex: 1 0 auto;

   font-weight: 700;
   font-size: 22px;
   line-height: 22px;
}
.header__title a{
   transition: color 0.5s;
}
.header__title a:hover{
   color: #3CB878;
}
.header__nav {
   display: flex;
   align-items: center;
}
.header__nav-icons {
   display: flex;
   position: relative;
}
.header__nav-icons::after {
   content: '';
   display: inline-block;
   width: 1px;
   height: 19px;
   position: absolute;
   right: -25px;
   top: 3px;
   background: rgba(255, 255, 255, 0.9);
   mix-blend-mode: normal;
   opacity: 0.5;
}
.nav__icon-calendar {
   width: 21px;
   height: 24px;
   background: url("../img/logo/Calendar.svg") no-repeat center;
   transition: background 0.5s;
   background-size: contain;
}
.nav__icon-calendar:hover {
   background: url("../img/logo/calendarH.svg") no-repeat center;
   background-size: contain;
}
.nav__icon-envelop {
   margin-left: 27px;
   width: 23px;
   height: 23px;
   background: url("../img/logo/Vector.svg") no-repeat center;
   transition: background 0.5s;
   background-size: contain;
}
.nav__icon-envelop:hover {
   background: url("../img/logo/envelopH.svg") no-repeat center;
   background-size: contain;
}
.nav__icon-compass {
   margin-left: 24px;
   width: 23px;
   height: 23px;
   background: url("../img/logo/kompas.svg") no-repeat center;
   transition: background 0.5s;
   background-size: contain;
}
.nav__icon-compass:hover {
   background: url("../img/logo/compassH.svg") no-repeat center;
   background-size: contain;
}
.header__nav-link {
   margin-left: 53px;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF; 
}
.header__nav-link a{
   transition: color 0.5s;
}
.header__nav-link a:hover{
   color: #3CB878;
}
/*------Main content------*/
.main {
   flex: 1 0 auto;
   display: flex;
   align-items: center;
   justify-content: center
}
.form {
   padding: 31px 60px 38px 60px;
   text-align: center;
   width: 444px;
   height: 584px;

   background: #FFFFFF;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form__title {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
}
.form__title::before {
   content: '';
   position: absolute;
   top: 0;
   left: -60px;
   height: 18px;
   width: 18px;
   background: #3CB878;
}
.form__title p:first-child{
   font-size: 20px;
   line-height: 20px;
   color: #434343;
}
.form__title a{
   font-size: 14px;
   line-height: 14px;
   color: #3CB878;
   transition: color 0.5s;
}
.form__title span:hover > a{
   color: #01813F;
   transition: color 0.5s;
}
.form__title span::after {
   content: '';
   position: absolute;
   top: 17px;
   right: 23px;
   height: 1px;
   width: 15px;
   background: #01813F;
   opacity: 0;
   transition: 0.5s;
}
.form__title span::before {
   content: '';
   position: absolute;
   top: 17px;
   right: 0px;
   height: 1px;
   width: 15px;
   background: #01813F;
   opacity: 0;
   transition: 0.5s;
}
.form__title span:hover::before {
   opacity: 1;
   transition: 0.5s;
}
.form__title span:hover::after {
   opacity: 1;
   transition: 0.5s;
}
.form__btns {
   margin-top: 15px;
   margin-bottom: 31px;
   display: flex;
   justify-content: space-between;
}
.btn {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 16px;
   line-height: 16px;
   color: #FFFFFF;
   width: 160px;
   height: 48px;
   border-radius: 4px;
}
.btn:active {
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
   transition: 0;
}
.form__btn-fb {
   position: relative;
   padding-right: 22px;
   padding-left: 17px;
   background: #305DB8;
   transition: 0.5s;
}
.form__btn-fb:hover {
   background: #022263;
   transition: 0.5s;
}
.form__btn-fb p::before{
   content: '';
   width: 1px;
   height: 28px;
   position: absolute;
   left: 48px;
   top: 10px;
   background: #0A162F;
   mix-blend-mode: normal;
   opacity: 0.1;
}
.form__btn-gl {
   position: relative;
   padding-right: 27px;
   padding-left: 12px;
   background: #DF4A32;
   transition: 0.5s;
}
.form__btn-gl:hover {
   background: #AB1F09;
   transition: 0.5s;
}
.form__btn-gl p::before{
   content: '';
   width: 1px;
   height: 29px;
   position: absolute;
   left: 48px;
   top: 10px;
   background: #2B0D09;
   mix-blend-mode: normal;
   opacity: 0.1;
}
.form__inputs {
   font-size: 14px;
   line-height: 14px;
}
.form__legend{
   color: #848484;
   position: relative;
}
.form__legend::before{
   content: '';
   width: 152px;
   height: 0px;
   position: absolute;
   right: 20px;
   top: 7px;
   background: #F2F2F2; 
   border: 1px solid #F2F2F2;
}
.form__legend::after{
   content: '';
   width: 152px;
   height: 0px;
   position: absolute;
   left: 20px;
   top: 7px;
   background: #F2F2F2; 
   border: 1px solid #F2F2F2;
}
.form__input {
   padding-left: 20px;
   margin-top: 15px;
   width: 324px;
   height: 44px;
   
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   transition: 0.5s;
}
.form__input::placeholder {
   color: rgba(190, 190, 190, 1);
}
.form__input:focus {
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
   transition: 0.5s;
}
.checkbox__label{
   display: flex;
   position: relative;
   align-items: center;
   margin-top: 12px;
   width: 324px;
   height: 20px;
   color: #434343;
   cursor: pointer;
}
.checkbox__label a{
   color: rgba(60, 184, 120, 1);
   transition: 0.5s;
}
.checkbox__label input {
   position: absolute;
   opacity: 0;
}
.checkbox__text{
   padding-left: 28px;
}
.checkbox__text span:hover > a{
   color: #01813F;
   transition: 0.5s;
}
.checkbox__text span::before {
   content: '';
   position: absolute;
   top: 20px;
   right: 74px;
   height: 1px;
   width: 120px;
   background: #01813F;
   opacity: 0;
   transition: 0.5s;
}
.checkbox__text span:hover::before {
   opacity: 1;
   transition: 0.5s;
}
.checkbox__text::before{
   content: '';
   position: absolute;
   top: 0px;
	left: 0;
   width: 20px;
   height: 20px;
   background: rgba(0, 0, 0, 0.0001);
   border: 1px solid #F2F2F2;
}
.checkbox__text::after{
   content: '';
   position: absolute;
   top: 0px;
	left: 0;
   width: 20px;
   height: 20px;
   background: url("../img/checkbox.svg") no-repeat center;
   opacity: 0;
   transition: 0.5s;
}
.checkbox__label input:checked + .checkbox__text::after {
	opacity: 1;
   transition: 0.5s;
}
.checkbox__label:hover > .checkbox__text::after{
   background: url("../img/checkbox-2.svg") no-repeat center;
}
.form__btn-gl-big{
   margin-top: 20px;
   justify-content: center;
   width: 324px;
   height: 46px;
   font-size: 16px;
   line-height: 16px;
   background: rgba(60, 184, 120, 0.8);
   transition: 0.5s;
}
.form__btn-gl-big:hover{
   background: #01813F;
   transition: 0.5s;
}
/*------Footer------*/
.footer {
   flex: 0 0 auto;
}

